@media screen and (max-width:600px){
  .about-article{
    display:block;
  }
 
  #main{
    margin-left:0 auto;
  }

  .bicycle-article{
    display:block;
  }
  
 .about-text p{
   text-align:left;
  }
}
